body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;

}

h1 {
    text-align: center;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    vertical-align: middle;
}

.btn-modify, .btn-delete {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.btn-modify {
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #f44336;
}


table  {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



.form {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form div {
    margin-bottom: 15px;
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form select,
.form button {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
