<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Block</title>
    <link rel="stylesheet" href="/css/blockform.css">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
</head>
<body>
<!-- Sidebar inclusion -->
<div th:replace="sidebar :: sidebar"></div>


<h1 th:text="${message}"> </h1>
<form th:action="@{/saveBlock}" th:object="${block}" method="post">
    <input type="hidden"  th:field="*{id}" >
    <!-- Longueur field -->
    <div th:if="${id==null}">

    <label for="name">Name:</label>
    <input type="text"  th:field="*{name}" id="name" /><br />

    <label for="longueur">Longueur:</label>
    <input type="number" step="0.01" th:field="*{longueur}" id="longueur" /><br />

    <!-- Largeur field -->
    <label for="largeur">Largeur:</label>
    <input type="number" step="0.01" th:field="*{largeur}" id="largeur" /><br />

    <!-- Epaisseur field -->
    <label for="epaisseur">Epaisseur:</label>
    <input type="number" step="0.01" th:field="*{epaisseur}" id="epaisseur" /><br />


            <!-- Creation Block field (Date) -->
            <label for="creationBlock">Creation Block:</label>
            <input type="date" th:field="*{creationBlock}" id="creationBlock"  required /><br />
    </div>
    <!-- Prix Revient field -->
    <label for="prixRevient">Prix Revient:</label>
    <input type="number" step="0.01" th:field="*{prixRevient}" id="prixRevient" /><br />


    <!-- Submit Button -->
    <button type="submit">Save Block</button>
</form>

<h1>Import Csv</h1>
<form th:action="@{/importCsv}"  method="post"   >
    <label for="pathCsv"> Enter your file path </label>
    <input type="text" id="pathCsv" name="pathCsv" value="C:\Users\rakot\OneDrive\Documents\S5\Architecture Logiciel\matelas\csv\block.csv"  >
    <button type="submit">Import</button>
</form>

</body>
</html>